* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffc0cb;
  color: snow;
}

.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  /*background: hotpink*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.contenedor header {
  background: #ec3a8b;
  border-radius: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.contenedor header .titulo {
  margin: 20px;
  padding: 10px;
  letter-spacing: 1px;
  font-family: 'Yellowtail', cursive;
}

.contenedor header nav a {
  color: #ffc0cb;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 25px;
}

.contenedor header nav a:hover {
  color: deeppink;
  text-shadow: 2px 2px 2px snow;
  border-bottom: 3px solid snow;
  border-radius: 20px;
}

.contenedor .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: hotpink;
  border-radius: 20px;
}

.contenedor .main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor .main article .thumb {
  width: 33.33%;
  margin: 20px;
}

.contenedor .main article .thumb img {
  width: 100%;
  vertical-align: top;
  border-radius: 2px solid #db7093;
}

.contenedor .main article .thumb img:hover {
  -webkit-box-shadow: 10px 11px 10px 0.75px pink;
          box-shadow: 10px 11px 10px 0.75px pink;
  border-radius: 20px;
  width: 101%;
}

.contenedor .main .cont-video {
  position: relative;
  width: 75%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 20px;
  
}

.contenedor .main .cont-video video, .contenedor .main .cont-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  border-radius: 20px;
  border: 3px double pink;
}

.contenedor footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C71585;
  border-radius: 20px;
  margin-bottom: 20px;
}

.contenedor footer .pie {
  margin: 20px;
  padding: 10px;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 2px 2px black;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  
}

@media screen and (max-width: 750px) {
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor header .titulo {
    text-align: center;
  }
  .contenedor header nav {
    margin-bottom: 20px;
  }
  .contenedor .main article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contenedor .main .cont-video {
width: 100%;
       }

  .contenedor footer .pie{
    font-size: 15px;
  }
}
/*# sourceMappingURL=estilo.css.map */